 <%-    include("partials/header")   -%>




<table class="table table-striped table-hover table-bordered ">
<thead class="thead-light">
<tr>

<th><span>Confirmed</span> <%= confirmed%></th>
<th><span>Active</span> <%= active %></th>
<th><span>Recover</span> <%= recover %></th>
<th><span>Death</span> <%= death%></th>


</tr>
</thead>
<table> 
















<%-    include("partials/footer")   -%> 