<%-    include("partials/header")   -%>

<table  class="table  table-hover table-striped">
<thead class="thead-light">
<tr>


<th ><span class="text">Confirmed Cases:</span> <%= confirmed %></th>
<th><span  class="text">Total Deaths:</span> <%=   death %></th>
<th><span  class="text">Tested:</span>  <%=    tested %></th>                
<th><span  class="text">Test Done:</span>   <%=testdone %></th>
<th><span  class="text">England Cases:</span>  <%=england %></th>
<th><span  class="text">Scotland Cases:</span>  <%=scotland %></th>
<th><span  class="text">Wales Cases:</span>  <%=wales %></th>
<th><span  class="text">Ireland Cases:</span>  <%=nireland %></th>



</tr>
</thead>
</table>





<% for(var i=0;i<area.length;i++){ %>

<p><%= area[i].number %></p>
<% } %>






















<%-    include("partials/footer")   -%>